:root {
	--color-primary: #8d94c5;
	--color-secondary: #ffcb03;
	--color-tertiary: #ff555d;
	--color-primary-darker: #435ea2;
	--color-secondary-darker: #ffbb00;
	--color-tertiary-darker: #c7242d;
	--color-primary-opacity: #5e6dc53a;
	--color-secondary-opacity: #ffcd0331;
	--color-tertiary-opacity: #fa202bdc;
	--gradient-primary: linear-gradient(to top left, #3960b3, #5d71e1);
	--gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
	--gradient-tertiary: linear-gradient(to top left, #2840c9, #58ffe979);
}

/*Overall styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #555;
	line-height: 2;
	background-color: #e2e2e2;
}

/*Navigation*/

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	width: 100%;
	padding: 0 8rem;
	z-index: 1;
}

/* Navigation and Sticky class at the same time */
.nav.sticky {
	position: fixed;
	background-color: rgba(216, 215, 215, 0.95);
}

/* Logo*/

.logo {
	height: 4.5rem;
	transition: all 0.3s;
}

.nav__item {
	margin-left: 4rem;
}

/* Links */
.nav__links {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav__link:link,
.nav__link:visited {
	font-size: 1.5rem;
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
}

/* Navigation button */

.nav__link_btn:link,
.nav__link_btn:visited {
	padding: 0.8rem 2.5rem;
	border-radius: 3rem;
	background-color: var(--color-primary);
	color: #222;
}

.nav__link_btn:hover,
.nav__link_btn:active {
	color: inherit;
	background-color: var(--color-primary-darker);
	color: #333;
}

/* HEADER */

.header {
	padding: 0 3rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Introduction Title*/

.header__introduction-title {
	flex: 1;

	max-width: 115rem;
	display: grid;
	grid-template-columns: 3fr 2fr;
	row-gap: 3rem;
	align-content: center;
	justify-content: center;

	align-items: start;
	justify-items: start;
}

h1 {
	font-size: 4.5rem;
	line-height: 1.35;
}

h4 {
	font-size: 2.2rem;
	font-weight: 500;
}

.header__img {
	border-radius: 4rem;
	width: 100%;
	grid-column: 2 / 3;
	grid-row: 1 / span 4;
	transform: translateY(-6rem);
}

/* Highlight*/

.highlight {
	position: relative;
}
.highlight2 {
	position: relative;
}

.highlight::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: var(--gradient-primary);
}
.highlight2::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	transform: scale(1.07, 1.05) skewX(15deg);
	background-image: var(--gradient-primary);
}

/* Section */

.section {
	padding: 15rem 3rem;
	border-top: 1px solid #ddd;

	transition: transform 1s, opacity 1s;
}

.section__hidden {
	opacity: 0;
	transform: translateY(5rem);
}

.section__title {
	max-width: 80rem;
	margin: 0 auto 8rem auto;
}

.section__description {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-primary);
	margin-bottom: 1rem;
	letter-spacing: 0.5rem;
}

.section__header {
	font-size: 3rem;
	line-height: 1.3;

	font-weight: 500;
}

p {
	color: #666;
}

/*Filtering and lazy loading*/
img {
	transition: filter 0.5s;
}

.lazy-img {
	filter: blur(20px);
}

/* About */
.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	margin: 0 12rem;
}

.about__img {
	width: 100%;
}

.abouts__about {
	align-self: center;
	justify-self: center;
	width: 70%;
	font-size: 1.5rem;
}

.about__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary-opacity);
	height: 5.5rem;
	width: 5.5rem;
	border-radius: 50%;
	margin-bottom: 2rem;
}

.about__icon svg {
	height: 2.5rem;
	width: 2.5rem;
	fill: var(--color-primary);
}

.about__header {
	font-size: 2rem;
	margin-bottom: 1rem;
}

/* All button section*/

.btn {
	display: inline-block;
	background-color: var(--color-primary);
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 500;
	border: none;
	padding: 1.25rem 4.5rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: all 0.3s;
}

.btn:hover {
	background-color: var(--color-primary-darker);
}

/*Button Continue*/

.btn__text {
	display: inline-block;
	background: none;
	font-size: 2rem;
	font-family: inherit;
	font-weight: 500;
	color: var(--color-primary);
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
}

.btn__text:hover {
	border-bottom: 1px solid var(--color-gradient-tertiary);
	border-radius: 5rem;
	padding: 1rem;

	transition: all 0.3s;

	box-shadow: -17px 16px 33px 1px rgba(0, 0, 0, 0.64);
	-webkit-box-shadow: -17px 16px 33px 1px rgba(0, 0, 0, 0.64);
	-moz-box-shadow: -17px 16px 33px 1px rgba(0, 0, 0, 0.64);
}

/*Workings btns*/

.workings__containerBtns {
	display: flex;
	justify-content: space-around;
}

.workings__btn {
	margin-right: 3rem;
	transform: translateY(-60%);
}

/*Use inline block mostly with buttons*/
.workings__btn span {
	margin-right: 1.5rem;
	font-weight: 700;
	display: inline-flex;
}

.workings__btn--1 {
	background-color: var(--color-tertiary);
}
.workings__btn--1:hover {
	background-color: var(--color-tertiary-darker);
}

.workings__btn--2 {
	background-color: var(--color-secondary);
}

.workings__btn--2:hover {
	background-color: var(--color-secondary-darker);
}

/*Workings section*/

.workings {
	max-width: 100rem;
	margin: 10rem auto 0 auto;
	background-color: #eee;
}

/* Workings content section*/

.workings__btn--active {
	transform: translateY(-90%);
}

.workings__content {
	display: none;
	font-size: 1.8rem;
	padding: 2.5rem 7rem 6.5rem 7rem;
	text-align: center;
}

.workings__content--active {
	display: grid;
	grid-template-columns: 7rem 1fr;
	column-gap: 3rem;
	row-gap: 0.5rem;
}
.workings__header {
	font-size: 2.3rem;
	font-weight: 600;
	align-self: center;
}

/*Workings Icons svg*/

.workings__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
}
.operations__icon svg {
	height: 2.75rem;
	width: 2.75rem;
}

.workings__icon--1 {
	background-color: var(--color-tertiary-opacity);
}

.workings__icon--2 {
	background-color: var(--color-secondary-opacity);
}

.workings__icon--3 {
	background-color: var(--color-primary-opacity);
}

.workings__icon--1 svg {
	fill: var(--color-secondary-darker);
}

.workings__icon--2 svg {
	fill: var(--color-primary);
}

.workings__icon--3 svg {
	fill: var(--color-tertiary);
}

/*Working contents*/

.workings__content p {
	grid-column: 2;
}

/*Slider section*/

.slider {
	max-width: 100rem;
	height: 50rem;
	position: relative;
	margin: 0 auto;

	overflow: hidden;
}

/*Each slide*/
.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50rem;
	display: flex;
	align-items: center;
	justify-content: center;

	/*TODO Slider Animation*/
	transition: transform 1.3s;
}

.slide > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider__btn {
	position: absolute;
	top: 50%;
	border: none;
	background: rgba(255, 255, 255, 0.213);
	font-family: inherit;
	color: #333;
	border-radius: 50%;
	height: 5.5rem;
	width: 5.5rem;
	font-size: 3.25rem;
	cursor: pointer;
	z-index: 10;
}

.slider__btn--left {
	left: 6%;
	transform: translate(-50%, -50%);
}
.slider__btn--right {
	right: 6%;
	transform: translate(50%, -50%);
}

.dots {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

/*Created in JS*/
.dots__dot {
	border: none;
	background-color: #b9b9b9;
	opacity: 0.7;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin-right: 1.75rem;
	cursor: pointer;
	transition: all 0.5s;

	/* Only necessary when overlying images */
	/* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
.dots__dot:last-child {
	margin: 0;
}

.dots__dot--active {
	background-color: #888;
	opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
	width: 65%;
	position: relative;
}

.testimonial::before {
	content: '\201C';

	position: absolute;
	top: -5.7rem;
	left: -6.8rem;
	line-height: 1;
	font-size: 20rem;
	font-family: inherit;
	color: var(--color-primary);
	z-index: -1;
}

.testimonial__header {
	font-size: 2.3rem;
	font-weight: 600;
	margin-bottom: 1.7rem;
}

.testimonial__text {
	font-size: 1.6rem;
	margin-bottom: 3.6rem;
	color: #666;
}

.testimonial__author {
	margin-left: 3rem;
	font-style: normal;

	display: grid;
	grid-template-columns: 6.5rem 1fr;
	column-gap: 2rem;
}

.testimonial__photo {
	grid-row: 1 / span 2;
	width: 6.5rem;
	border-radius: 50%;
}

.testimonial__name {
	font-size: 1.7rem;
	font-weight: 500;
	align-self: end;
	margin: 0;
}

.testimonial__location {
	font-size: 1.4rem;
}
.section__title--testimonials {
	margin-bottom: 5rem;
}

/* SIGNUP */
.section__sign-up {
	background-color: #37383d;
	border-top: none;
	border-bottom: 1px solid #444;
	text-align: center;
	padding: 10rem 3rem;
}

.section__sign-up .section__header {
	color: #eee;
	text-align: center;
}

.section__sign-up .section__title {
	margin-bottom: 10rem;
}
.section--sign-up .btn {
	font-size: 2rem;
	padding: 2rem 5rem;
}

/* FOOTER section */
.footer {
	padding: 10rem 3rem;
	background-color: #37383d;
}

.footer__nav {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}

.footer__item {
	margin-right: 4rem;
}

.footer__link {
	font-size: 1.6rem;
	color: #eee;
	text-decoration: none;
}

/*Modal Window*/

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60rem;
	background-color: #dbe1f0;
	padding: 5rem 6rem;
	border-radius: 5rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
}

.modal__header {
	font-size: 3.25rem;
	margin-bottom: 4.5rem;
	line-height: 1.5;
}

.modal__socials {
	width: 100%;

	margin: 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__socials .social {
	list-style: none;
	font-size: 3.5rem;
}

.btn__close-modal {
	font-family: inherit;
	color: inherit;
	position: absolute;
	top: 0.5rem;
	right: 2rem;
	font-size: 4rem;
	cursor: pointer;
	border: none;
	background: none;
}

/*OverLay section*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 100;
	transition: all 0.8s;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}
